@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-primary: #a288e3;
  --color-brand-secondary: #a288e3;
  --color-brand-accent: #fbb03b;
  --color-brand-orange: #fe871c;
  --color-brand-orange-secondary: #fe871c;
  --color-brand-dark: #38023b;
  --color-brand-dark-border: #38023b;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-roboto), var(--font-montserrat), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-montserrat), var(--font-roboto), system-ui, sans-serif;
}
